@import 'App.css';

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eaa0a2;
  color: #3a4664;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
h1 {
  font-size: 3rem;
}
h3 {
  font-size: 1.8rem;
}
